@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary { background-color: #3400A2; }
.bg-secondary { background-color: #D5D4F4; }
.bg-default { background-color: #595961; }
.bg-divide { background-color: #888; }
.bg-assign { background-color: #00AD28; }
.bg-receive { background-color: #0055FF; }
.bg-dispute { background-color: #FF0200; }
.bg-btn { background-color: #32009C; }
.bg-block { background-color: #2C2C31; }
.bg-black { background-color: black; }
.bg-box { background-color: #161517; }

.bg-input { background-color: #ffffff26; color: white; }

.border-color-input { border-color: #ffffff15; }
.border-color-input:focus { border-color: #0C1EFF; }
.border-color { border-color: #5200FF; }

.font-color-primary { color: #3400A2; }
.font-color-primary-dark { color: #32009C; }